<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <gazebo reference="base_link" >
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="right_wheel_link" >
        <material>Gazebo/Grey</material>   
    </gazebo>

    <gazebo reference="left_wheel_link" >
        <material>Gazebo/Grey</material>   
    </gazebo>

    <gazebo reference="caster_wheel_link" >
        <material>Gazebo/Grey</material>
        <mu1 value="0.1" />
        <mu2 value="0.1" />
    </gazebo>

    <gazebo reference="imu_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo>
        <plugin name="gz::sim::systems::DiffDrive" filename="gz-sim-diff-drive-system">

            <!-- Update rate in Hz -->
            <update_rate>50</update_rate>

            <!-- wheels -->
            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>

            <!-- kinematics -->
            <wheel_separation>0.45</wheel_separation>
            <wheel_radius>0.1</wheel_radius>

            <!-- output -->
            <frame_id>odom</frame_id> 
            <child_frame_id>base_footprint</child_frame_id> 
            <odom_publish_frequency>1</odom_publish_frequency>
            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
        </plugin> 
    </gazebo>

    <gazebo>
        <plugin filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>base_left_wheel_joint</joint_name>
            <joint_name>base_right_wheel_joint</joint_name>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>15.0</update_rate>
            <visualize>true</visualize>
            <topic>imu/data</topic>
        </sensor>
    </gazebo>

</robot>